@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "Hệ thống quản lý";
}

@* <div class="dashboard">
    <div class="card blue">
        <i class="fa fa-calendar fa-2x"></i>
        <h3>12</h3>
        <p>Sự kiện hiện có</p>
    </div>
    <div class="card green">
        <i class="fa fa-users fa-2x"></i>
        <h3>56</h3>
        <p>Người dùng</p>
    </div>
    <div class="card orange">
        <i class="fa fa-ticket fa-2x"></i>
        <h3>8</h3>
        <p>Đặt chỗ hôm nay</p>
    </div>
    <div class="card purple">
        <i class="fa fa-bullhorn fa-2x"></i>
        <h3>5</h3>
        <p>Chiến dịch truyền thông</p>
    </div>
    <div class="card pink">
        <i class="fa fa-chart-line fa-2x"></i>
        <h3>2</h3>
        <p>Báo cáo mới</p>
    </div>
</div>

<div class="table-container">
    <h3>Sự kiện nổi bật</h3>
    <table class="table table-striped">
        <tr><th>Tên sự kiện</th><th>Ngày diễn ra</th><th>Trạng thái</th></tr>
        <tr><td>Hội thảo CNTT 2025</td><td>15/12/2025</td><td>Đang mở</td></tr>
        <tr><td>Workshop UX/UI</td><td>20/12/2025</td><td>Chuẩn bị</td></tr>
    </table>
</div> *@
